<div class="container">
  <div class="jumbotron">
    <h1>image関数生成完了</h1>      
    <p>クリップボードにコピーして使える</p>
  </div>
       

<p id="notice"><%= notice %></p>
<div class="row">
  <!--グリットシステム最初-->
  <div class="col-sm-2"></div>
  
  
  <!--グリットシステム　真ん中-->
  <div class="col-sm-8">
      <p>Google SpreahSheetに張り付ける用の関数が生成されました。</p> 
 <!-- コピー対象 -->
    <input id="foo" value="<%= @GI %>" size="60">
    <!-- コピーボタン -->
    <button class="btn" data-clipboard-target="#foo">
        コピー
    </button>   
    <br>
    <!--編集戻るボタン-->
      <%= link_to 'Edit', edit_function_path(@function) %> |
<%= link_to 'Back', functions_path %>
      
      
  </div>
  
  <!--グリッドシステム最後-->
  <div class="col-sm-2"></div>
</div>

<!--クリップボードにコピー -->
 


</div>
